body {
  font-family: Roboto, sans-serif;
  background-image: url('images/floral_background_01.jpg');
  /*<a href='https://www.freepik.com/vectors/wedding'>Wedding vector created by BiZkettE1 - www.freepik.com</a>*/
}

header {
  padding: 20px 0;
  margin: 0;
}

header h1 {
  text-align: left;
}

header .row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-weight: 700;
  margin: 0;
  color: #30332D;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: auto;
  color: #545D4A;
  background-color: #f1ba12;
}

.jumbotron {
  display: block;
  align-items: center;
  background-color: #f1ba12;
  background-size: cover;
  color: #ffffff;
  height: 200px;
}

.jumbotron h5 {
  margin: 0 0 20px;
  color: #545D4A;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #f1ba12;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #f1ba12;
}

.RSVP-form {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  padding: 20px;
  background-color: #A0AA97;
  color: #30332D;
  font-weight: bold;
}

.map {
  width: 80%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  padding: 20px;
  background-color: #A0AA97;
  color: #30332D;
  font-weight: bold;
  text-align: center;
}
