<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Cliet and Kaylie Get Married!</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-6">Cliet and Kaylie</h1>
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div class="jumbotron">
        <div class="col-sm-12">
          <h1>Save the Date</h1>
          <h5>Cliet and Kaylie are celebrating their marriage on 04 November 2023 with a party that's to die for.</h5>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div class="col-md-12 about-us" id="about-us-head">
          <h1>Our Story</h1>
        </div>
        <div class="col-md-12 centered about-us" id='about-us'>
          <p>We met in 2018 while working at AMC Stonebriar together. We began dating in December of 2018. Through the years, we've had many adventures together, from finding new parks to play Pokemon Go in, to going to Disney World, to surving the lockdown together. We've been to many places together, including Orlando, EL Paso, Vancouver, and Alaska. In May of 2022, we took a cruise through the Alaskan inside passage. While cruising around Hubbard Glacier, we got engaged! We have 2 cats together. Kaylie brought Zari into the relationship and in May of 2019 we adopted Zephyr together. We're excited to get married and take on the next chapter of our lives together. We welcome you to join us for a unique reception as we celebrate #becomingthebutlers.</p>
        </div>
      </div>
      <div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_bus.jpg" alt="Kaylie and Cliet on the bus to the Tongass Rainforest Park in Ketchikan, AK." id='pic1'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_glacier.jpg" alt="Kaylie and Cliet in front of Mendenhall Glacier in Juneau, AK." id='pic2'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_ship.jpg" alt="Kaylie and Cliet on the Norwegian Jewel in Vancouver, BC, CA before departure." id='pic3'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/dinosaurs.jpg" alt="Kaylie and Cliet at the Jurrasic WOrld Experience in 2021." id='pic4'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/disney_1.jpg" alt="Kaylie and Cliet at the Magic Kingdom on Kaylie's 23rd birthday" id='pic5'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/escape room.jpg" alt="Kaylie and Cliet after escaping the Fairytale room at Red Door Escape Rooms in El Paso, TX May 2021" id='pic6'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/medival_times.jpg" alt="Kaylie and Cliet at medival times, 2019" id='pic7'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/hiking.jpg" alt="Kaylie and Cliet enjoying the outdoors, August 2019" id='pic8'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/pumpkin_1.jpg" alt="Kaylie and Cliet at Pumpkin Nights, 2021" id='pic9'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/pumpkin_2.jpg" alt="Kaylie and Cliet at Pumpkin Nights, 2021" id='pic10'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/pumpkin_3.jpg" alt="Kaylie and Cliet at Pumpkin Nights, 2021" id='pic11'>
        </div>
      </div>
    </section>
  </body>
</html>
