<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Kaylie And Cliet Get Married!</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-6">Kaylie And Cliet</h1>
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div class="jumbotron">
        <h1>Save the Date!</h1><br>
        <h5>Kaylie And Cliet Get Married on MM/DD/YYYY!</h5>
      </div>
    </section>
    <section>
      <div>
        <div class="col-md-12 centered" id='about-us'>
          <p>We met in 2018 while working at AMC Stonebriar together. We began dating in December of 2018, and in May of 2022, while on an Alaskan cruise, we got engaged! We have 2 cats together and we're ready to take on the next chapter of our lives together. Join us on our special day as we celebrate #becomingthebutlers.</p>
        </div>
      </div>
      <div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_bus.jpg" alt="Kaylie and Cliet on the bus to the Tongass Rainforest Park in Ketchikan, AK." id='pic1'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_glacier.jpg" alt="Kaylie and Cliet in front of Mendenhall Glacier in Juneau, AK." id='pic2'>
        </div>
        <div class="pics col-md-4">
          <img src="static/images/cliet_kaylie_ship.jpg" alt="Kaylie and Cliet on the Norwegian Jewel in Vancouver, BC, CA before departure." id='pic3'>
        </div>
      </div>
    </section>
  </body>
</html>
