<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Cliet and Kaylie Get Married!</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-6">Cliet and Kaylie</h1>
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class='jumbotron'>
      <h1>Registry</h1>
      <h3>We are registered at the following places:</h3>
    </section>
    <section class='registries'>
      <div class="picture-row col-sm-12">
        <div class='col-sm-6'>
          <figure>
            <a href="https://registry.theknot.com/kaylie-sheehan-cliet-butler-november-2023--tx/53306313"><img src="/static/images/The_Knot_Logo.jpg" alt="THe Knot Wedding Website Logo" class="logo"></a>
          </figure>
          <figcaption>The Knot Logo ©1997-2022 XO Group Inc.</figcaption>
        </div>
        <div class='col-sm-6'>
          <figure>
            <a href=""><img src="/static/images/Target-logo.jpg" alt="Target Bullseye Logo" class="logo"></a>
          </figure>
          <figcaption>Target Logo TM & © 2022 Target Brands, Inc.</figcaption>
        </div>
      </div>
      <div class="picture-row col-sm-12">
        <div class='col-sm-6'>
          <figure>
            <a href="https://www.amazon.com/wedding/kaylie-sheehan-cliet-butler-plano-november-2023/registry/7H5961D6O0EA"><img src="/static/images/AMZN_logo.jpg" alt="Amazon Logo" class="logo"></a>
          </figure>
          <figcaption>Amazon Logo © 1996-2022, Amazon.com, Inc. or its affiliates</figcaption>
        </div>
        <div class='col-sm-6'>
          <figure>
            <a href=""><img src="/static/images/WilliamsSonoma_Logo.jpg" alt="Williams Sonoma Logo" class="logo"></a>
          </figure>
          <figcaption>Williams Sonoma Logo © 2022 Williams-Sonoma Inc.</figcaption>
        </div>
      </div>
    </section>
  </body>
</html>
