<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Kaylie And Cliet Get Married!</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-6">Kaylie And Cliet</h1>
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class='hidden' id='RSVP-Form'>
      <div class="RSVP-form">
        <form class="RSVP-form" action="/rsvpConfirm" method="POST">
          <div class="mb-3">
            <label for="rsvp-key" class="form-label">RSVP Key (can be found on the invitation)</label>
            <input type="text" class="form-control" id="rsvp-key" name="key" placeholder="ButlerWedding12345">
          </div>
          <div class="mb-3">
            <label for="guest-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="guest name" name="name" placeholder="First Last">
          </div>
          <div>
            <h6>Will you be attending?</h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rsvp" id="RSVP-info-yes" value='Yes'>
              <label class="form-check-label" for="RSVP-info-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rsvp" id="RSVP-info-no" value='No'>
              <label class="form-check-label" for="RSVP-info-no">
                No
              </label>
            </div>
          </div>
          <div>
            <h6>Will you have a plus one (if the invitation allows - otherwise select no)</h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="plus-one" id="plus-one-yes" value="Yes">
              <label class="form-check-label" for="plus-one-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="plus-one" id="plus-one-no" value="No">
              <label class="form-check-label" for="plus-one-no">
                No
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-3">RSVP!</button>
        </form>
      </div>
    </section>
    <section class='visible' id='RSVP-Form-Placeholder'>
      <h2>RSVPs will be available soon! Check back on DD/MM/YYYY to RSVP.</h2>
    </section>
  </body>
</html>
