<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Becoming the Butlers</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-12"><center>Cliet and Kaylie</center></h1>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div class="jumbotron">
        <div class="col-sm-12">
          <h1>The Big Event</h1>
          <h5>On November 4th, 2023 a masqerade reception will be held. Keep reading for the important details.</h5>
        </div>
      </div>
      <div class="col-sm-12 murder-info">
        <h2>With help from the Murder Mystery Co, we'll be solving a masquerade murder.</h2>
        <h2>Need to Knows:</h2>
        <ul>
          <li>Where: <a href="https://www.google.com/maps/place/Bour%C3%A9+Event+Studio/@33.042512,-96.7539844,17z/data=!3m1!4b1!4m5!3m4!1s0x8d1dd8fd0b091997:0xd1e10494d22494d2!8m2!3d33.042512!4d-96.7517957">Bouré Event Studio, 3033 W Parker Rd #201, Plano, TX 75023</a></li>
          <li>When: November 4th, 2023, Evening (exact time TBD)</li>
          <li>There will be no ceremony at this event.</li>
          <li>This event is adults only. No children allowed.</li>
          <li>Dinner and desserts will be provided. More details to come.</li>
          <li>Dress Code: Casual</li>
          <li>Masqerade masks will be provided for all guests. Feel free to dress up if you'd like.</li>
          <li>This is an interactive event. Guests will be chosen by the actors as suspects, and everyone must work together and interact to solve the mystery.</li>
          <li>More details will be provided as we know more - check back often!</li>
        </ul>
      </div>
    </section>
  </body>
</html>
