<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Satisfy&family=Trade+Winds&display=swap" rel="stylesheet">
    <title>Becoming the Butlers</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-12">Cliet and Kaylie</h1>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item"><a class="nav-link" href="/travel">Travel and Transportation</a></li>
            <li class="nav-item"><a class="nav-link" href="/schedule">Day-Of Information</a></li>
            <li class="nav-item"><a class="nav-link" href="/registry">Registry</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="jumbotron">
        <h2>Our venue is Bouré Event Studio, located in Plano, TX.</h2>
        <h5>If you're coming from out of town, check out some hotels in the area. We don't have room blocks at any hotels, and you don't have to stay at these hotels. There are lots of hotels in the area, and this is just a list of some closer hotels in various price ranges to start your search.</h5>
    </div>
    <div class="map col-sm-12" id="hotel_map">
      <h1>Hotels Near The Venue</h1>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1oE4mTdBaPBzCw5cRm2Ozn_sMaXUT6Cc&ehbc=2E312F" width=100% height=480px></iframe>
      <ol>
        <li><a href="https://www.hilton.com/en/hotels/dalskht-home2-suites-north-plano-hwy-75/?SEO_id=GMB-AMER-HT-DALSKHT&y_source=1_MjI1MzIzNDEtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D">Home2 Suites by Hilton North Plano Hwy 75</a></li>
        <li><a href="https://www.choicehotels.com/texas/plano/quality-inn-hotels/tx814?mc=llgoxxpx">Quality Inn West Plano - Dallas</a></li>
        <li><a href="https://www.hilton.com/en/hotels/dalrigi-hilton-garden-inn-dallas-richardson/?SEO_id=GMB-AMER-GI-DALRIGI&y_source=1_MjA4MTc4OS03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D">Hilton Garden Inn Dallas/Richardson</a></li>
        <li><a href="https://www.marriott.com/en-us/hotels/daltp-towneplace-suites-dallas-plano-legacy/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0">TownePlace Suites by Marriott Dallas Plano/Legacy</a></li>
      </ol>
    </div>
    <div class="map col-sm-12" id="travel_map">
      <h1>Getting To The Venue</h1>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=17BrPIy1kBHOBEA-wDDOG63IF7it3ygk&ehbc=2E312F" width=100% height=480px></iframe>
      <ol>
        <li><a href="https://goo.gl/maps/3wuLrkMKJw8a6yJc9">From Home2 Suites by Hilton North Plano Hwy 75</a></li>
        <li><a href="https://goo.gl/maps/YNgspG6GurrSUAdh8">From Quality Inn West Plano - Dallas</a></li>
        <li><a href="https://goo.gl/maps/4y85YKX9qw7VDoJS8">From Hilton Garden Inn Dallas/Richardson</a></li>
        <li><a href="https://goo.gl/maps/7i4m2fepuEHbNp8G8">From TownePlace Suites by Marriott Dallas Plano/Legacy</a></li>
      </ol>
    </div>
  </body>
</html>
